.media-intro {
    display: block;
    position: relative;
}

.media-desc {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 1%;
    z-index: 2;
    color: $white-color;

    .media-side-right {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        width: 60%;

        .genre {
            background-color: $primary-color;
            padding: 8px;
            border-radius: 16px;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            cursor: default;
            outline: 0px;
            box-sizing: border-box;
            font-size: 0.8125rem;
        }

        .desc-film {
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.5;
            letter-spacing: 0.00938em;
            text-align: justify;
            word-wrap: break-word;
        }

        button {
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 1.75;
            letter-spacing: 0.02857em;
            text-transform: uppercase;
            min-width: 64px;
            padding: 8px 22px;
            border-radius: 4px;
            border: 0;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: $white-color;
            background-color: $primary-color;
            box-shadow: none;
            width: max-content;

            &:hover {
                background-color: rgb(178, 0, 0);
            }
        }
    }

    .media-poster {
        margin: auto 0;
        width: 344px;
        height: 524px;
        z-index: 1;
    }

    .media-name {
        font-weight: 900;
    }
}

.background-img-intro {
    background-image: url("");
}

.categories {
    padding-left: 5px;
}

.cast-item {
    padding: 0;
    border: 1px solid $white-color;
    margin: 0;
    column-gap: 2px;
    background-color: transparent;
    transform: none !important;
    cursor: default;
    pointer-events: none;

    .header-img {
        min-height: $height-avatar-cast-lg;
    }

    .card-img-top {
        object-fit: contain;
    }

    .card-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white-color;
        border-radius: 0;
        background-color: $black-color-lighter;
        color: $white-color;
        font-size: 0.9rem;
        height: 100%;

        .card-title {
            font-weight: 650;
        }

        .card-text {
            font-weight: 300;
            height: 16%;
        }
    }
}

// Part of review
.media-review {
    min-height: 400px;
    background-color: #15223a;
}

.avatar-user {
    width: 80px;
    height: 80px;
}

.name-user {
    font-weight: 600;
    color: #fff;
}

.evaluation,
.evaluation-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #0b162a;
    padding: 12px 16px;
    border-radius: 4px;

    .comment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .comment-header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .date {
                color: #aaa;
            }
        }

        .comment-content-apart {
            font-size: 1.2rem;
            color: #e1e1e1;
        }
    }
}

.comment-input {
    font-size: 1.13rem;
    outline: 0;
    border: 0;
    border-radius: 3px;
}

.btn-delete {
    &:hover {
        background: none;
    }
}

.vue-avatar {
    width: 80% !important;
    height: 80% !important;
    padding: 18% 20%;
    font-size: 1.53rem !important;
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .background-img-intro {
        height: 500px;
        background-position: center;
    }

    .media-desc {
        .media-poster {
            width: 260px;
            height: 450px;
            z-index: 1;
        }
    }

    .cast-item {
        margin: 0 8px 16px;

        .header-img {
            min-height: $height-avatar-cast-md;
        }
    }

    .vue-avatar {
        width: 65% !important;
        height: 100% !important;
        padding: 15%;
        font-size: 1.53rem !important;
    }

    .evaluation {
        .evaluation-comment-right {
            padding-left: 0;
        }
    }
}

@media only screen and (max-width: 739px) {
    .background-img-intro {
        height: 220px;
        background-position: center;
    }

    .media-desc {
        height: 220px;

        .media-poster {
            width: 100px;
            height: 170px;
        }

        .media-name {
            font-size: 26px;
            font-weight: 600;
            line-height: 1.1;
        }

        .desc-film {
            display: none;
        }
    }

    .cast-item {
        margin: 0 8px 16px;

        .header-img {
            height: $height-avatar-cast-sm;
        }

        .card-footer {
            padding: 0.25rem 1rem;
        }
    }

    .vue-avatar {
        width: 100% !important;
        height: 100% !important;
        padding: 16% 20%;
        font-size: 1.53rem !important;
    }

    .name-user {
        font-size: 1rem;
    }
}