
.background-img-intro {
    background-image: url("");
}

.img-header-desc {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -30%);

    color: $white-color;
    margin-left: 20px;

    h4 {
        line-height: 1.235;
        letter-spacing: 0.00735em;
        font-weight: 700;
        font-size: 46px;
    }

    .genre {
        background-color: $primary-color;
        padding: 8px;
        border-radius: 16px;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        cursor: default;
        outline: 0px;
        box-sizing: border-box;
        font-size: 0.8125rem;
    }

    .desc-film {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        text-align: justify;
    }

    button {
        font-weight: 500;
        font-size: 0.9375rem;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        min-width: 64px;
        padding: 8px 22px;
        border-radius: 4px;
        border: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
            color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: $white-color;
        background-color: $primary-color;
        box-shadow: none;
        width: max-content;

        &:hover {
            background-color: rgb(178, 0, 0);
        }
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .background-img-intro {
        height: 490px;
    }

    .img-header-desc {
        top: 20%;
        left: 41%;
    }

    .watch-media-btn {
        width: 174px;
        height: 46px;

        button {
            height: 100%;
        }
    }
}