$primary-color: rgb(255, 0, 0);
$primary-color-impress: rgb(178, 0, 0);
$white-color: #fff;
$dark-color: #000;
$black-color: #131313;
$black-color-lighter: #202020;
$black-color-lighter-impress: #333;

$width-logo: 80px;
// $width-card-home: 17.344rem;
// $width-img-casts: 181px;
// $height-img-casts: 272px;

// $height-card-img-home: 412px;
// $height-card-img: 350px;
// $height-img-header: 700px;